<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranzit</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="algo.js"></script>
    <script src="geoloc.js"></script>
    
</head>
<body >
  <div class="Header">
    <div class="Nav">
    <a class ="brand" href="./"><img src="./images/subway.png" width="38px">Tranzit</a>
    <a href="./">Home</a>
    <a href="./map">Map</a>
    <a href="./about">About</a>
   
    </div>
</div>
<div class = "container">
  <div class = "stackView">
    <div id = "container2">
    </div>
  
      <form method="GET" action="/calroute">
      
      <div class="row">
        <div class="col sm-12 md-12">
         <!-- <input type="text" id="src"> -->
         <select name="src" id="src" >
          <option value="">Choose Source</option>
          <% stations.forEach((station) => { %>
            <option value="<%= station %>" > <%=station %> </option>
            <%  })  %>
        </select>
      </div> </div>
      <div class="row">
    <div class="col sm-12 md-6">
      <select name="dest" id= "dest">
        <option value="">Choose Destination</option>
        <% stations.forEach((station) => { %>
          <option value="<%= station %>" > <%=station %> </option>
          <%  })  %>
      </select>
    </div>
  </div>
  
    <div class="row">
      <div class="col md-12">
        <input type="submit" class="button" value="FIND SHORTEST ROUTE">
      </div>
    </div>
   
  </form>

 
    <div id="result">
     
        <h2 id="dist">Distance: <%- data["distance"].toFixed(2) %> km, Time: <%- ((data["distance"].toFixed(2)/32)*60).toFixed(1) %>min</h2>
        <p id="srcdest">Source: <%-data.path[0]%>, Destination: <%-data.path[data.path.length-1]%></p>
        <div id="route">
           
                <% for(var i in data.path) { %>
                     <p><%-data.path[i]%> (
                      <% if (data.lines[i].length>0){ %>
                        <% for(var j in data.path) { %>
                          <%-data.lines[i][j] %>
                          <% if (data.lines[i][j]=="Blue Line"){ %>
                            <img class ="lineIcon" src="./images/blue.png" height="18px" width="18px">
                          <% } %>
                          <% if (data.lines[i][j]=="Yellow Line"){ %>
                            <img class ="lineIcon" src="./images/yellow.png" height="18px" width="18px">
                          <% } %>
                          <% if (data.lines[i][j]=="Magenta Line"){ %>
                            <img class ="lineIcon" src="./images/magenta.png" height="18px" width="18px">
                          <% } %>
                          <% if (data.lines[i][j]=="Green Line"){ %>
                            <img class ="lineIcon" src="./images/green.png" height="18px" width="18px">
                          <% } %>
                          <% if (data.lines[i][j]=="Violet Line"){ %>
                            <img class ="lineIcon" src="./images/violet.png" height="18px" width="18px">
                          <% } %>
                          <% if (data.lines[i][j]=="Red Line"){ %>
                            <img class ="lineIcon" src="./images/red.png" height="18px" width="18px">
                          <% } %>
                        <% } %>
                      <% } %>
                    )
                     <li></li>
                     </p>
                <% } %>
                </div>
    </div>
  </div>
</div>
<script>
 
</script>
</body>
</html>
