<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tranzit</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="algo.js"></script>
    <script src="geoloc.js"></script>
    
</head>
<body >
  <div class="Header">
    <div class="Nav">
    <a class ="brand" href="./"><img src="subway.png" width="38px">Tranzit</a>
    <a href="./">Home</a>
    <a href="./map">Map</a>
    <a href="./">About</a>
   
    </div>
</div>

  <div class = "container">
    <div class = "stackView">
      <div id = "container2">
      </div>
      <table>
        <form method="GET" action="/calroute">
        <tr>
          <td><label for="Source">Source:</label></td>
          <td><label for="Destination">Destination:</label></td>
       </tr>
       <tr>
         <td>
           <!-- <input type="text" id="src"> -->
           <select name="src" id="src">
            <option value="">Choose Source</option>
            <% stations.forEach((station) => { %>
              <option value="<%= station %>" > <%=station %> </option>
              <%  })  %>            
          </select>
        </td>
      <td>
        <!-- <input type="text" id="dest"> -->
        <select name="dest" id= "dest">
          <option value="">Choose Destination</option>
          <% stations.forEach((station) => { %>
            <option value="<%= station %>" > <%=station %> </option>
            <%  })  %>
        </select>
      </td>
    </tr>

      <tr>
        <td colspan="2">
          <input type="submit" class="btn-block my-4 button" value="FIND SHORTEST ROUTE">
        </td>
      </tr>
    </form>
  </table>
 
    <div id="result">
        <h2 id="dist">Distance: <%- data["distance"].toFixed(2) %>km</h2>
        <h2 id="dist">Time: <%- (data["distance"].toFixed(2)/32).toFixed(1) %>hr</h2>
        <div id="route">
           
                <% for(var i in data.path) { %>
                     <h3><%-data.path[i] %></h3><li style='color: red'><%-data.lines[i] %></li> 
                <%  } %>
                </div>
    </div>
  </div>
</div>
<script>
 
</script>
</body>
</html>
